.custom-shape-divider-top-1629544341 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1629544341 svg {
  position: relative;
  display: block;
  width: calc(107% + 1.3px);
  height: 174px;
}

.custom-shape-divider-top-1629544341 .shape-fill {
  fill: #ffffff;
}

.spacer {
  background-image: url("/wave-haikei-4.svg");
  background-position: center;
  background-size: cover;
}

.layout-animation {
  animation: slideInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s;
}

@media screen and (min-width: 768px) {
  .layout-animation {
    animation: none;
  }
}

.no-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
